{{#section 'header'}}
  {{>header}}
{{/section}}

{{#section 'categoriesHeader'}}
  {{>categoriesHeader}}
{{/section}}

<div id="main">

  <table class="view_search_results" style="background:yellow">
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
      <th>Date</th>
      <th>Price</th>
    </tr>
    {{#each searchResults}}
    <tr>
      <td class="view_product_image"> <img src="/img/books/{{image}}" alt="cover photo"> </td>
      <td class="view_product_name"><a href="/store/view/{{title}}">{{title}}</a> </td>
      <td class="view_product_description"> {{description}} </td>
      <td class="view_product_description"> {{tags}} </td>
      <td class="view_product_price"> {{issueDate}} </td>
      <td class="view_product_price"> {{price}} </td>
    </tr>
    {{/each}}

  </table>


</div>
