{{#section 'header'}}
  {{>header}}
{{/section}}

{{#section 'categoriesHeader'}}
  {{>categoriesHeader}}
{{/section}}

<div id="main">


    {{#each searchResults}}
    <script>
      var id = {{id}};
    </script>
    <ul>
      <li> <img src="/img/books/{{image}}" alt="cover photo"> </li>
      <li> <a href="/store/view/{{title}}">{{title}}</a> </li>
      <li> {{description}} </li>
      <li> {{tags}} </li>
      <li> {{issueDate}} </li>
      <li> {{price}} </li>
      <li> <a href="http://localhost:3000/store/checkout/{{id}}">Buy now!</a> </li>
      <li> <a href="http://localhost:3000/store/cart/{{id}}" id="addbasket">Add to basket</a> </li>
    </ul>
    {{/each}}



</div>
