{{#section 'header'}}
  {{>header}}
{{/section}}

{{#section 'categoriesHeader'}}
  {{>categoriesHeader}}
{{/section}}

<div id="main">

  <table class="search_results">
    <tr>
      <th>Cover</th>
      <th>Description</th>
      <th>Date</th>
      <th>Price</th>
    </tr>

    {{#each searchResults}}
    <tr>
      <td class="books_cover"> <a href="/store/view/book/{{id}}/{{url}}"><img src="/img/books/{{image}}" alt="cover photo"></a> </td>
      <td class="books_description">
        <a class="title" href="/store/view/book/{{id}}/{{url}}">{{title}}</a>
        <p>{{description}}</p>
        <p class="tag"><a href="/store/view/tag/{{tags}}">{{tags}}</a></p>
        {{#if tags2}}
        <p class="tag"><a href="/store/view/tag/{{tags2}}">{{tags2}}</a></p>
        {{/if}}
      </td>
      <td class="books_date"> {{issueDate}} </td>
      <td class="books_price"> £{{price}} </td>
    </tr>
    {{/each}}

  </table>


  {{#section 'jquery'}}
    <script>
    var counter=5;
    $(window).scroll(function() {
      if($(window).scrollTop() + window.innerHeight == $(document).height()) {
        //if scroll hit the bottom

        $.ajax({
          url:'/store/category/{{category}}',
          type: 'POST',
          data: {'count': counter},
          cache: false,
          error: function(xhr, error){
            console.log('error executed');
            if(xhr.status === 0){
              console.log('not connected, verify network connection');
            }else if(xhr.status == 404){
              console.log('requested page not found 404');
            }else if(xhr.status == 500){
              console.log('internal server error 500');
            }else if(error === 'timeout'){
              console.log('time out errro');
            }else if(error === 'abort'){
              console.log('ajax request aborted');
            }else{
              console.log('uncaught error');
            }
          },
          success: function(response){
            console.log('success part executed');
            var len = response.data.length;


          function constructReturnedBooks(i){
            var start_tr = '<tr>';
            var end_tr = '</tr>';

            var end_td = '</td>';

            var img = '<img src="/img/books/'+response.data[i].image+"\""+'alt="cover cover">';
            var book_cover = '<td class="books_cover"> <a href="/store/view/book/' +response.data[0].id+'/'+response.data[i].url+"\""+'>'+img+'</a></td>';


            var books_description1 = '<td class="books_description>"><a class="title" ahref="/store/view/book/'+response.data[i].id+'/'+response.data[i].url+"\""+'>'+response.data[i].title+'</a>';
            var books_description2 = '<p>'+response.data[i].description+'</p>';
            var books_description3 = '<p class="tag"><a href="/store/view/tag/'+response.data[i].tags+"\""+'>'+response.data[i].tags+'</a></p>';

            var books_date = '<td class="books_date">'+response.data[i].issueDate+'</td>';
            var books_price = '<td class="books_price">£'+response.data[i].price+'</td>';


            if(response.data[i].tags2){
              var books_description4 = '<p class="tag"><a href="/store/view/tag/'+response.data[i].tags2+"\""+'>'+response.data[i].tags2+'</a></p>';
              var books_descriptionFinal = books_description1 + books_description2 + books_description3 + books_description4 + end_td;
            }else{
              var books_descriptionFinal = books_description1 + books_description2 + books_description3 + end_td;
            }
            var fullListItem = start_tr + book_cover + books_descriptionFinal + books_date + books_price + end_tr;

            return fullListItem;
          }




          for(var i=0; i<len; i++){

            $('.search_results').append(constructReturnedBooks(i));



          }
          counter = counter+5;

        }

      });

   }
});

    </script>
  {{/section}}
</div>
