{{#section 'header'}}
  {{>header}}
{{/section}}

{{#section 'categoriesHeader'}}
  {{>categoriesHeader}}
{{/section}}

<div id="main">

<h1>basket</h1>


<table class="search_results">
  <tr>
    <th>Cover</th>
    <th>Description</th>
    <th>Date</th>
    <th>Price</th>
    <th>Quantity</th>
  </tr>

  {{#each cart}}
  <tr>
    <td class="books_cover"> <img src="/img/books/{{image}}" alt="cover photo"> </td>
    <td class="books_description">
      <a class="title" href="/store/view/book/{{id}}/{{url}}">{{title}}</a>
      <p>{{description}}</p>
      <p class="tag"><a href="/store/view/tag/{{tags}}">{{tags}}</a></p>
      {{#if tags2}}
      <p class="tag"><a href="/store/view/tag/{{tags2}}">{{tags2}}</a></p>
      {{/if}}
    </td>
    <td class="books_date"> {{issueDate}} </td>
    <td class="books_price"> £<div id="cart_price{{id}}">{{price}}</div> </td>
    <td class="books_quantity"><input type="text" id="cart_qnty{{id}}" value="{{quantity}}"> </td>

    <!-- <script>
      var oldQnty = document.getElementById('cart_qnty{{id}}'.value;
    </script> -->

    <script>

    var id{{id}} = {{id}};

      // var oldPrice{{id}} = document.getElementById('cart_price'+id{{id}}).innerHTML;
      // var oldQnty{{id}} = document.getElementById('cart_qnty'+id{{id}}).value;
      // var oneItemPrice{{id}} = oldPrice{{id}} / oldQnty{{id}};

      var qntyElement{{id}} = document.getElementById('cart_qnty'+id{{id}});

      qntyElement{{id}}.onblur = function(){
        //
        var qnty{{id}} = document.getElementById('cart_qnty'+id{{id}}).value;
        // var newPrice{{id}} = Number(oneItemPrice{{id}}) * Number(qnty{{id}});
        // //document.getElementById('cart_price'+id{{id}}).innerHTML=newPrice{{id}};

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function() {
          if (xhttp.readyState == 4 && xhttp.status == 200) {
            var Data = JSON.parse(xhttp.responseText);
            console.log(xhttp.responseText);
              document.getElementById('cart_price'+id{{id}}).innerHTML = Data.price;
            }
          };

        xhttp.open("POST", "/store/update-cart/"+{{id}}+"?quantity="+qnty{{id}}, true);
        xhttp.send();
      }

    </script>


  </tr>
  {{/each}}
</table>





<ul class="checkout_links">
  <li> <a href="http://localhost:3000/store/cart/checkout">Buy</a> </li>
</ul>

</div>
